---
import DashLayout from "../../../layouts/DashLayout.astro";
import { Button } from "../../../components/utility/Button";
import { Loader } from "../../../components/utility/Loader";
import { Input } from "../../../components/utility/Input";
---

<DashLayout>
    <div class="bg-white-200 inset-0 w-full overflow-auto flex justify-center">
        <div class="bg-white p-5 rounded-lg max-w-7xl w-full">
            <div class="flex justify-between items-center mb-4">
                <Input placeholder="Search" />
                <select
                    class="border p-2 rounded bg-gray-50 focus:ring-cyan-100"
                >
                    <option value="5">5 per page</option>
                    <option value="10">10 per page</option>
                    <option value="20">20 per page</option>
                </select>
            </div>
            <!-- No Data found -->

            <!-- Messages List -->
            <div
                class="min-h-screen flex items-center justify-center w-full mt-4"
                id="loading-button"
            >
                <Loader />
            </div>
            <div class="space-y-4" id="reports-container"></div>

            <!-- Pagination Buttons -->
            <div class="flex justify-between items-center mt-4 pb-4">
                <Button>Previous</Button>
                <Button>Next</Button>
            </div>
        </div>
    </div>
    <script>
        const container = document.getElementById("reports-container");
        const loadingButton = document.getElementById("loading-button");
        import { ReportsGetRequests } from "../../../APIs/reports/reportsAPI";
        import { Images } from "../../../constants.astro";
        (async function () {
            if (loadingButton) {
                loadingButton.style.display = "block";
            }
            const FetchReports = await ReportsGetRequests("/getall");
            if (loadingButton) {
                loadingButton.style.display = "none";
            }
            if (FetchReports.data.length <= 0) {
                container
                    ? (container.innerHTML = `
                    <div
                class="flex w-full min-h-48 justify-items-center justify-center items-center"
            >
                <h1 class="text-center font-extrabold">No Data Found</h1>
            </div>
                `)
                    : null;
            }
            if (FetchReports.data) {
                FetchReports.data.forEach(
                    (
                        report: {
                            userDetails: any;
                            createdAt: string;
                            title: string;
                            description: string;
                            _id: string;
                            email: string;
                        },
                        key: number,
                    ) => {
                        container
                            ? (container.innerHTML += `
                            <div key=${key} class="bg-white p-4 min-h-fit shadow rounded-lg flex items-center gap-4 border border-gray-200">
                                <img
                                src=${Images.userIcon}
                                alt="User"
                                class="w-12 h-12 rounded-full"
                                />
                                <div class="flex-1 overflow-hidden">
                                    <div class="flex gap-2 flex-wrap items-center justify-between">
                                        <h3 class="text-sm font-extralight">${report.userDetails.email}</h3>
                                        <p class="text-xs text-gray-400">${new Date(report.createdAt).toLocaleString()}</p>
                                        </div>
                                         <p class="text-gray-600 font-medium">${report.title}</p>
                                         <p class="text-gray-500 text-sm truncate overflow-hidden">${report.description}</p>
                                        </div>
                                        <a href=/dashboard/reports/report title="Reply">
                                            <img
                                            src="https://cdn-icons-png.flaticon.com/512/481/481675.png"
                                            alt="Reply Icon"
                                            class="w-6 h-6"
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>`)
                            : null;
                    },
                );
            }
        })();
    </script>
</DashLayout>
